.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navbar-buttons button {
  margin-left: 10px;
}

/* NewPatientForm.css */
.new-patient-form {
  padding: 20px;
  background-color: #f2f2f2;
}

.new-patient-form h2 {
  margin-bottom: 10px;
}

.new-patient-form form label {
  display: block;
  margin-bottom: 5px;
}

.new-patient-form form input,
.new-patient-form form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.new-patient-form form button {
  margin-top: 10px;
}

/* App.css */
.app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
